/*
STYLES BY SEVEN TIMES WEB STUDIO LAB
VERSION 10.0 (upd 01.12.2016)
*/
body {
margin: 0px;
padding: 0px;
}
* {
padding: 0px;
margin: 0px;
}
h1, h2, h3, h4, h5, h6 { padding: 0px; margin: 0px; }
h1 { font-size: 40px; padding: 20px 0px; }
h2 { font-size: 35px; padding: 20px 0px; }
h3 { font-size: 30px; padding: 20px 0px; }
h4 { font-size: 25px; padding: 20px 0px; }
h5 { font-size: 20px; padding: 20px 0px; }
h6 { font-size: 15px; padding: 20px 0px; }
footer {
padding-top: 1%;
padding-bottom: 1%;
text-align: center;
}
/***************************/
.divw100 { width: 100px; display: block; overflow: hidden; }
.divw200 { width: 200px; display: block; overflow: hidden; }
.divw300 { width: 300px; display: block; overflow: hidden; }
.divw400 { width: 400px; display: block; overflow: hidden; }
.divw500 { width: 500px; display: block; overflow: hidden; }
.divw550 { width: 550px; display: block; overflow: hidden; }
.divw570 { width: 590px; display: block; overflow: hidden; }
.divw600 { width: 600px; display: block; overflow: hidden; }
.divw700 { width: 700px; display: block; overflow: hidden; }
.divw800 { width: 800px; display: block; overflow: hidden; }
.divw900 { width: 900px; display: block; overflow: hidden; }
.divw1000 { width: 1000px; display: block; overflow: hidden; }
.divw1024 { width: 1024px; display: block; overflow: hidden; }
.divw1280 { width: 1280px; display: block; overflow: hidden; }
.divw1920 { width: 1920px; display: block; overflow: hidden; }
.divh50 { height: 50px; }
.divh100 { height: 100px; }
.divh150 { height: 150px; }
.divh200 { height: 200px; }
.divh250 { height: 250px; }
.divh300 { height: 300px; }
.divh350 { height: 350px; }
.divh400 { height: 400px; }
.divh450 { height: 450px; }
.divh500 { height: 500px; }
.divh550 { height: 550px; }
.divh600 { height: 600px; }
.divh650 { height: 650px; }
.divh700 { height: 700px; }
.divh750 { height: 750px; }
.divh800 { height: 800px; }
.divh850 { height: 850px; }
.divh900 { height: 900px; }
.divh950 { height: 950px; }
.divh1000 { height: 1000px; }
/*************************************/
/*
1vh = 1%;(Height)
1vw = 1%;(Width)
1vw = 2vh;
NOTICE 1vw and 1vh taked from all display.
1% from parent block
*/
/*************************************/
.vh100 { height: 100vh; }
.vh95 { height: 95vh; }
.vh90 { height: 90vh; }
.vh85 { height: 85vh; }
.vh80 { height: 80vh; }
.vh75 { height: 75vh; }
.vh70 { height: 70vh; }
.vh65 { height: 65vh; }
.vh60 { height: 60vh; }
.vh55 { height: 55vh; }
.vh50 { height: 50vh; }
.vh45 { height: 45vh; }
.vh40 { height: 40vh; }
.vh35 { height: 35vh; }
.vh30 { height: 30vh; }
.vh25 { height: 25vh; }
.vh20 { height: 20vh; }
.vh15 { height: 15vh; }
.vh10 { height: 10vh; }
.vh5 { height: 5vh; }
.vw100 { width: 100vw; }
.vw95 { width: 95vw; }
.vw90 { width: 90vw; }
.vw85 { width: 85vw; }
.vw80 { width: 80vw; }
.vw75 { width: 75vw; }
.vw70 { width: 70vw; }
.vw65 { width: 65vw; }
.vw60 { width: 60vw; }
.vw55 { width: 55vw; }
.vw50 { width: 50vw; }
.vw45 { width: 45vw; }
.vw40 { width: 40vw; }
.vw35 { width: 35vw; }
.vw30 { width: 30vw; }
.vw25 { width: 25vw; }
.vw20 { width: 20vw; }
.vw15 { width: 15vw; }
.vw10 { width: 10vw; }
.vw5 { width: 5vw; }
.left { float: left; }
.right { float: right; }
.center { margin: 0px auto; }
.pad5 { padding: 5px; }
.pad10 { padding: 10px; }
.pad15 { padding: 15px; }
.pad20 { padding: 20px; }
.pad25 { padding: 25px; }
.pad30 { padding: 30px; }
.pad35 { padding: 35px; }
.pad40 { padding: 40px; }
.hided { display: none; }
.txtleft { text-align: left; }
.txtcenter { text-align: center; }
.txtjust { text-align: justify; }
.txtright { text-align: right; }
.overhidden { overflow: hidden; }
.scrollx { overflow-x: scroll; }
.scrolly { overflow-y: scroll; }
.bxbd { box-sizing: border-box; }
.h1 { font-size: 40px; padding: 20px 0px; }
.h2 { font-size: 35px; padding: 20px 0px; }
.h3 { font-size: 30px; padding: 20px 0px; }
.h4 { font-size: 25px; padding: 20px 0px; }
.h5 { font-size: 20px; padding: 20px 0px; }
.h6 { font-size: 15px; padding: 20px 0px; }
.ul {
padding: 0px 0px 0px 1vw;
}
.nodot {
list-style-type: none;
}
/* DROPDOWN_MENU */
.menu-dropdown {
list-style-type: none;
display: inline-table;
}
.menu-dropdown .menu-list {
position: relative;
list-style-type: none;
z-index: 2;
}
/* STYLE */
.menu-dropdown .menu-drop {
visibility: hidden;
position: absolute;
top: -9999em;
transition: 1s opacity;
list-style-type: none;
opacity: 0;
}
/* WHAT DOING WHEN HOVER */
.menu-dropdown .menu-list:hover > .menu-drop {
position: relative;
visibility: visible;
top: 0px;
opacity: 1;
transition: 1s opacity;
}
/* RIGHT */
.menu-dropdown .dropright {
position: absolute;
left: 100%;
top: -9999em;
transition: 1s opacity;
list-style-type: none;
opacity: 0;
}
/* WHAT DOING WHEN HOVER */
.menu-dropdown .menu-list:hover > .dropright {
top: 0px;
opacity: 1;
}
/* LEFT */
.menu-dropdown .dropleft {
position: absolute;
right: 100%;
top: -9999em;
border-left: 4px solid transparent;
transition: 1s opacity;
list-style-type: none;
opacity: 0;
z-index: 1111;
}
/* WHAT DOING WHEN HOVER */
.menu-dropdown .menu-list:hover > .dropleft {
top: 0px;
opacity: 1;
}
/* TOOLTIP */
.tooltip {
position: relative;
cursor: pointer;
}
.tooltip:before,
.tooltip:after {
display: block;
position: absolute;
visibility: hidden;
opacity: 0;
}
.tooltip:before {
bottom: 18px;
/* left: 50%; */
margin-left: -5px;
padding: 10px;
text-align: center;
border-radius: 5px;
content: attr(data-title);
width: 150px;
}
.tooltip:hover:before {
opacity: 1;
visibility: visible;
}
.tooltip:after {
content: "";
}